<div class="row">
    <div class="cold-md-4 mx-auto">
        <div class="card">
            <img src="img/images.png" alt="Odoo Module"
            lass="card-img-top">
            <div class="card-body">
                <h2>30 EUR</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus perferendis non dignissimos. Vitae, error soluta.</p>
            </div>
            <div class="card-footer">
                    <form action="/checkout" method="POST">
                        <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_vIOsSxEbiChPqfPYIKxYZnKa00jd8No765"
                        data-amount="3000"
                        data-name="Software Store"
                        data-description="Widget"
                        data-image="img/images.png"
                        data-locale="auto">
                        </script>
                        <script>
                            document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
                        </script>
                        <button class="btn btn-dark btn-block">
                            buy <i class="fas fa-shopping-cart"></i>
                        </button>
                
                    </form>

                
            </div>
        </div>
    </div>
</div>